<ion-header mode="ios" [translucent]="true">
  <ion-toolbar>
    <ion-row [ngStyle]="{'margin-top': commonService.isIos() ? '0' : '2em'}">
      <ion-col size="4"><img ngSrc="./assets/icon/go-back.svg" width="40" height="40"
                             (click)="goBackToPrevPage()">
      </ion-col>
      <ion-col>
        <div class="screen-card-text">Payment Method</div>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="main-content">
    <div style="display: flex;justify-content: center;margin-top: 38px">
      <ion-button fill="clear" color="secondary"
                  (click)="commonService.goToRoute('tabs/tabs/settings-tab/add-payment-method','true')">
        <ion-icon name="add" slot="start"></ion-icon>
        <span class="checkout-text"> Add new card</span>
      </ion-button>
    </div>
    <div class="content-wrapper">
      <div *ngIf="cards.length > 0">
      <div class="card-user" *ngFor="let card of cards" (click)="onSelectCard(card)"
           [ngClass]="{'card-user-clicked': card === selectedCard}">
        <ion-row style="width: 100%">
          <ion-col size="3">
            <img *ngIf="card.brand === 'MasterCard'" ngSrc="./assets/images/mastercard.png" alt="" height="36"
                 width="55"/>
            <img *ngIf="card.brand === 'Visa'" ngSrc="./assets/images/blue-visa.png" alt="" height="59" width="69"/>
          </ion-col>
          <ion-col size="7">
            <div style="margin-left: 34px">
              <span class="credit-card-text">{{card.brand}}</span> <br/>
              <span class="card-details">**** &nbsp;**** &nbsp;
           **** &nbsp;{{card.last4}}</span>
            </div>
          </ion-col>
          <ion-col size="2">
            <ion-icon *ngIf="card === selectedCard" name="checkmark-circle-outline" class="selected-icon"></ion-icon>
          </ion-col>

        </ion-row>
      </div>
      </div>
      <div *ngIf="cards.length === 0">
        <div class="not-found">
          <img src="./assets/images/not-found.png"/>
          <br/>
          <div class="info-shop">You have no added any card yet.</div>
        </div>
      </div>
    </div>
    <span class="error-text">{{receivedMessage}}</span>
  </div>
  <app-checkout-button goTo="tabs/tabs/gift-tab" [pay]="true" [isFromCheckout]="true" [cardObj]="selectedCard"
                       (messageEvent)="receiveMessage($event)"
                       [amount]="amountService.getTotalAmount()"></app-checkout-button>
</ion-content>
