.content-wrapper {
  height: 50vh; /* Set the height to 100% of viewport height */
  overflow-y: auto; /* Enable vertical scrolling within the content wrapper */
  padding-bottom: 60px; /* Adjust the bottom padding to accommodate the fixed checkout-button button */
}

.payment-message {
  height: 115px;
}
