<ion-header mode="ios" [translucent]="true">
  <ion-toolbar>
    <ion-row [ngStyle]="{'margin-top': commonService.isIos() ? '0' : '2em'}">
      <ion-col size="4"><img ngSrc="./assets/icon/go-back.svg" width="40" height="40"
                             (click)="goBackToPrevPage()">
      </ion-col>
      <ion-col>
        <div class="screen-card-text">Payment Method</div>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="main-content">
    <div class="content-wrapper">
      <div class="card-user" *ngFor="let card of cards" (click)="onSelectCard(card)" [ngClass]="{'card-user-clicked': card === selectedCard}">
        <img *ngIf="card.brand === 'MasterCard'" ngSrc="./assets/images/mastercard.png" alt="" height="36" width="55"/>
        <img *ngIf="card.brand === 'Visa'" ngSrc="./assets/images/blue-visa.png" alt="" height="59" width="69"/>
        <div style="margin-left: 34px">
         <span class="credit-card-text">{{card.brand}}</span>  <br/>
         <span class="card-details">**** &nbsp;**** &nbsp;
           **** &nbsp;{{card.last4}}</span>
        </div>
        <ion-icon *ngIf="card === selectedCard" name="checkmark-circle-outline" class="selected-icon"></ion-icon>
      </div>
    </div>
    <div style="display: flex;justify-content: center;margin-top: 38px">
      <ion-fab-button color="primary" size="small" style="width: 47px;height: 47px" (click)="commonService.goToRoute('tabs/tabs/settings-tab/payment-method-list','true')">
        <ion-icon name="add-outline" style="color: white"></ion-icon>
      </ion-fab-button>
    </div>
  </div>
  <app-checkout-button goTo="tabs/tabs/gift-tab" [pay]="true" [isFromCheckout]="true" [cardObj]="selectedCard"
                       [amount]="amountService.getTotalAmount()"></app-checkout-button>
</ion-content>
