.not-found {
  display: flex;
  flex-direction: column; /* Postavljanje smjera kolone za centriranje elemenata */
  align-items: center; /* Centriranje elemenata po horizontalnoj osi */
  padding-top: 100px;
  text-align: center; /* Centriranje teksta unutar div elementa */
}
