<div class="header-details ion-padding-top"
     [ngStyle]="{'background-image': 'url(' + orderDetails?.shopImageUri + ')',
      'background-size': 'cover', 'width': '100%', 'height': '300px '}"
>
  <ion-row>
    <ion-col size="4"><img ngSrc="./assets/icon/go-back.svg"
                           width="40" height="40" (click)="commonService.goToRoute('tabs/tabs/profile-tab','false')">
    </ion-col>
    <ion-col>
      <div class="sss"  [ngClass]="textColorClass">Gift details</div>
    </ion-col>
  </ion-row>
</div>

<div class="content-details">
  <div class="content-center">
    <img src="./assets/images/gift-details-status.png"/>
  </div>
  <div class="status-text">{{getFormattedStatus()}}!</div>
  <div class="status-text">{{orderDetails?.shopName}}</div>
  <div class="prod-class">
    <div *ngFor="let item of orderDetails?.items">
      <div class="typo-prod">{{item.quantity}}x {{item.itemName}}</div>
    </div>
  </div>
  <div style="justify-content: center;display: flex">
    <div style="width: 200px;margin-top: 60px;" *ngIf="orderDetails?.orderStatus !== 'PickedUp'">
      <app-secondary-button [disabled]="false" (click)="shareLInk()">
        <span class="button-text2">Share the pickup link</span></app-secondary-button>
    </div>
  </div>
  <br/>
  <br/>
</div>
