.main-card-content {
  border-radius: 20px;
  background-color: var(--ion-color-light);
  height: 104px;
  margin-bottom: 10px;
}

.img-gift {
  border-radius: 20px;
  width: 85px;
  height: 90px;
  padding-top: 5px;
}

.gift-name {
  color: var(--ion-color-secondary);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.gift-status {
  color: var(--ion-color-primary);
  font-size: 14px;
  font-style: normal;
  font-weight: 800;
  line-height: 20px; /* 142.857% */
  letter-spacing: -0.24px;
}

.gift-sentBy {
  color: var(--ion-color-medium);
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 166.667% */
  letter-spacing: -0.24px;
}

.gift-address {
  color: var(--ion-color-primary);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 10px;
}

.location-png {
  margin-right: 2px;
  color: var(--ion-color-primary);
  width: 14px;
  height: 14px;
  font-weight: bold
}
