<div class="gift-card">
  <ion-grid>
    <ion-row>
      <ion-col size="8">
        <span class="screen-card-text">No gifts yet</span><br/>
        <span class="no-gift-text">You have no received gifts yet. <br/>
          They will be displayed here.</span>
      </ion-col>
      <ion-col class="gift-col">
        <img ngSrc="assets/images/home-gift-card.svg" height="78" width="78"
             style="float: right;margin-top: -10px;margin-right: -13px" alt="">
      </ion-col>
    </ion-row>

  </ion-grid>
</div>
