<p *ngIf="currentIndex===0" class="typography-on-boarding">Select the city the <br>receiver is living in.</p>
<p *ngIf="currentIndex===1" class="typography-on-boarding">Select a local shop.</p>
<p *ngIf="currentIndex===2" class="typography-on-boarding">Buy a gift online.</p>
<p *ngIf="currentIndex===3" class="typography-on-boarding">Let the receiver<br> know where to pick it<br> up.</p>
<p *ngIf="currentIndex===3" class="typography-small"> The receiver then collects the<br> gift from the local selected
  shop<br>
  at their own convenience</p>
<p *ngIf="currentIndex===4" class="typography-small"> Hello!</p>
<p *ngIf="currentIndex===4" class="typography-small"> You’re ready to go.</p>
