<app-header></app-header>
<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div class="main-content">
    <p class="screen-card-text">Hello, {{userName}}!</p>
    <p class="screen-card-text">My Gifts</p>
    <app-home-gift-card *ngIf="variable" [daysLeftToPickup]="daysLeftToPickup" [giftData]="giftData" [formatedDate]="getFormattedDate(giftData.creationDate)"></app-home-gift-card>
    <app-home-gift-card-none *ngIf="!variable"></app-home-gift-card-none>
    <app-horizontal-shop-view [shops]="shops" [title]="'Shops'"></app-horizontal-shop-view>
  </div>
</ion-content>

