.mat-mdc-tab-group, .mat-mdc-tab-nav-bar {
  --mdc-tab-indicator-active-indicator-color: var(--ion-color-primary) !important;
  --mat-tab-header-disabled-ripple-color: rgba(0, 0, 0, 0.38);
  --mat-tab-header-pagination-icon-color: #000;
  --mat-tab-header-inactive-label-text-color: var(--ion-color-medium);
  --mat-tab-header-active-label-text-color: var(--ion-color-secondary);
  --mat-tab-header-active-ripple-color: var(--ion-color-secondary);;
  --mat-tab-header-inactive-ripple-color: var(--ion-color-secondary);;
  --mat-tab-header-inactive-focus-label-text-color: var(--ion-color-medium);
  --mat-tab-header-inactive-hover-label-text-color: var(--ion-color-medium);
  --mat-tab-header-active-focus-label-text-color: var(--ion-color-secondary);;
  --mat-tab-header-active-hover-label-text-color: var(--ion-color-primary);
  --mat-tab-header-active-focus-indicator-color: var(--ion-color-primary);
  --mat-tab-header-active-hover-indicator-color: var(--ion-color-primary);
}

.go-back-img {
  margin: 50px 0 0 16px;
}

.main-content-shop {
  margin-left: 16px;
  margin-right: 13px;
  margin-top: 40px;
}

.background-container {
  position: relative;
  width: 100%;
  height: 250px;
  border-radius: 0 0 20px 20px;
  background-size: cover;
  background-position: center;
}

.go-back-container {
  position: absolute;
  top: 10px;
  left: 10px;
}

.content-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: white;
}

.text-position {
  margin-left: 16px;
}

ion-content {
  overflow: hidden; /* Hide the default content overflow to prevent double scrollbar */
}

.content-wrapper {
  height: 97vh; /* Set the height to 100% of viewport height */
  overflow-y: auto; /* Enable vertical scrolling within the content wrapper */
  position: relative;
  padding-bottom: 60px; /* Adjust the bottom padding to accommodate the fixed checkout-button button */
}

//.checkout-button-button {
//  margin-left: 16px;
//  margin-right: 13px !important;
//  position: fixed;
//  bottom: 10px;
//  width: 93%;
//  height: 70px;
//  background-color: var(--ion-color-primary);
//  color: #fff; /* Customize button text color */
//  border-radius: 39px !important;
//}
//.checkout-button{
//  display: flex;
//  justify-content: flex-end;
//  margin-top: -40px;
//  margin-right: 40px;
//}
