.go-back-img {
  margin: 50px 0 0 16px;
}

.main-content-shop {
  margin-left: 16px;
  margin-right: 13px;
  margin-top: 40px;
}

.background-container {
  position: relative;
  width: 100%;
  height: 250px;
  border-radius: 0 0 20px 20px;
  background-size: cover;
  background-position: center;
}

.go-back-container {
  position: absolute;
  top: 10px;
  left: 10px;
}

.content-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: white;
}

.text-position {
  margin-left: 16px;
}

ion-content {
  overflow: hidden; /* Hide the default content overflow to prevent double scrollbar */
}

.content-wrapper {
  height: 97vh; /* Set the height to 100% of viewport height */
  overflow-y: auto; /* Enable vertical scrolling within the content wrapper */
  position: relative;
  padding-bottom: 60px; /* Adjust the bottom padding to accommodate the fixed checkout-button button */
}

