<ion-content [fullscreen]="true">
  <div class="header">
    <ion-row style="padding-top: 50px">
      <ion-col size="3" class="main-content">
        <img alt="" class="header-flower" height="119" ngSrc="assets/images/login.svg" width="119">
      </ion-col>
    </ion-row>

    <ion-row style="margin-top: -50px">
      <ion-col size="12" class="main-content">
        <ion-avatar style="width: 158px;height: 158px">
          <img [src]="avatarImg"
               alt="User profile" height="110px" width="110px"/>
        </ion-avatar>
      </ion-col>
    </ion-row>
    <ion-row style="margin-top: 16px">
      <ion-col>
        <div class="typography-on-boarding">{{userName}} {{surname}}</div>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
