.header{
  background-color: var(--ion-color-primary);
  height: 300px;
  border-radius: 0 0 180px 180px;

}
.header-flower{
  margin-left: 150px;
  margin-top: 60px;
  height: 119px!important;
  width: 119px!important;
}
.main-content{
  display: flex;
  justify-content: center;
}
