.checkout-button {
  margin-left: 16px;
  margin-right: 13px !important;
  position: fixed;
  bottom: 10px;
  width: 93%;
  height: 70px;
  background-color: var(--ion-color-primary);
  color: #fff; /* Customize button text color */
  border-radius: 39px !important;
  z-index: 999;
}
.checkout{
  display: flex;
  justify-content: flex-end;
  margin-top: 18px;
  margin-right: 40px;
}
