<div class="checkout-button" (click)="goToRoute()">
  <ion-row>
    <ion-col>
      <div style="display:flex;justify-content: start;margin-left: 30px;margin-top: 13px">
        <ion-icon src="./assets/icon/eur.svg"></ion-icon>
        <span class="total-price">{{amount}}</span>
      </div>
    </ion-col>
    <ion-col>
      <div class="checkout checkout-text">
        Checkout
        <span style="margin-left: 17px; margin-top: 3px">
      <ion-icon src="./assets/icon/go-checkout.svg"></ion-icon></span>
      </div>
    </ion-col>
  </ion-row>
</div>
