.typography-title {
  font-size: 24px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: -0.23999999463558197px;
  text-align: center;
}

.typography-small {
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0;
  text-align: center;
}

.text-align-center {
  text-align: center;
  padding-top: 20px;
}

.button-text {
  color: #FFF;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.typography3 {
  color: var(--ion-color-secondary);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration-line: underline;
}
.typography-on-boarding{
  color: var(--ion-color-secondary);
  text-align: center;
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 116.667% */
  letter-spacing: -0.24px;
}

.icon-text{
  color: var(--ion-color-secondary);
  text-align: center;
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 9px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 222.222% */
  letter-spacing: -0.24px;
}
.screen-card-text{
  color: var(--ion-color-secondary);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.screen-card-text-small{
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.screen-card-text-medium {
  color: var(--ion-color-secondary) !important;
  font-size: 14px !important;
  font-style: normal !important;
  font-weight: 600 !important;
  line-height: normal !important;
}
.card-name{
  color: #FFF;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.cake-name{
  color: var(--ion-color-secondary);
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.product-quantity{
  color: var(--ion-color-secondary);
  text-align: center;
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 100% */
  letter-spacing: -0.24px;
}
.total-price{
  color: var(--ion-color-secondary);
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.checkout-text{
  color: var(--ion-color-secondary);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.minutes{
  color: var(--Color---Text-Primary, #3E4462);
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 10px;
  font-style: normal;
  font-weight: 300;
  line-height: 20px; /* 200% */
  letter-spacing: -0.24px;
}
.no-of-stars{
  color: #1A3957;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.card-details{
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: right;

}
.payment-text{
  color: var(--ion-color-secondary);
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px; /* 118.182% */
  letter-spacing: -0.24px;
}
.info-shop{
  color: var(--ion-color-secondary);
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 125% */
  letter-spacing: -0.24px;
}
.working-hours{
  color: var(--ion-color-secondary);
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 20px; /* 142.857% */
  letter-spacing: -0.24px;
}
.credit-card-text{
  color: var(--ion-color-secondary);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.button-text2{
  color: #FFF;
  text-align: center;
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 166.667% */
  letter-spacing: -0.24px;
}
