.header {
  border-radius: 0px 0px 40px 40px;
  background: var(--ion-color-primary);
  height: 283px;
}

.text-align-center {
  text-align: center;
}

.button-div {
  width: 250px;
}

.main-content {
  margin-top: 80px;
  width: 100%;
}

ion-button {
  --border-radius: 56px;
  height: 70px;
  width: 100%;
}

.button-text1 {
  text-align: center;
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
  letter-spacing: -0.24px;
}

.text-img {
  display: flex;
  justify-content: center;
}

.col-style {
  display: flex;
  justify-content: center;
}

.col-style-x {
  display: flex;
  justify-content: flex-end;
}

.close-btn {
  width: 40px;
  height: 40px;
  margin-top: 46px;
}
